.image_container {
  position: relative;
  width: 300px;
  height: 300px;

  .cat {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .heart_wrapper {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  .heart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &.visible {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &:hover {
    .cat {
      transform: scale(1.14);
    }

    .heart_wrapper {
      opacity: 1;
      pointer-events: auto;
    }

    .heart_card_hover {
      opacity: 1;
    }
  }

  @media (max-width: 1920px) {
    width: 225px;
    height: 225px;
  }

  @media (max-width: 768px) {
    width: 178px;
    height: 178px;

    .heart_wrapper {
      bottom: -10px;
      right: -10px;
      pointer-events: auto !important;
    }

    .heart {
      width: 80%;
      height: 80%;
    }
  }


  @media (max-width: 480px) {
    width: 128px;
    height: 128px;

    .heart_wrapper {
      bottom: -15px;
      right: -15px;
    }

    .heart {
      width: 70%;
      height: 70%;
    }
  }
}